@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #7ad7eb;
}

.loginText {
  color: #13548a;
  margin-bottom: 10px;
}

.button-p {
  margin-bottom: 10px;
}

.btnWrapper {
  /* Vertically align both buttons */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Align center */
.dash-title {
  color: #13548a;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Use margin auto to center */
.requestWrapper {
  height: 100vh;
  background-color: #7ad7eb;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.reqForm {
  flex-basis: 500px;
  flex-grow: 0;
  flex: 1;
}

.bookRooms {
  flex-basis: 1000px;
  flex: 2;
}
